.price-input--container {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--spacing-1);
    width: 100%;
}

.price-input--label {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-medium);
    color: var(--color-text-primary);
    margin-bottom: var(--spacing-2);
    user-select: none;
}

.price-input--label.required::after {
    content: "*";
    color: var(--color-danger);
    margin-left:var(--spacing-1);
}

.price-input--field-wrapper {
    display: flex;
    align-items: center;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
    border-radius: var(--radius-md);
    padding-left: var(--font-size-xs);
    outline: 1px solid var(--color-gray-200);
    outline-offset: -1px;
}

.price-input--field-wrapper:focus-within {
    outline: 2px solid var(--color-primary);
    outline-offset: -2px;
}

.currency-symbol {
    flex-shrink: 0;
    font-size: var(--font-size-base);
    color: var(--color-gray-200);
    user-select: none;
}

.price-input--field {
    display: block;
    width: 100%;
    flex-grow: 1;
    padding: var(--font-size-2xs) var(--font-size-xs);
    font-size: var(--font-size-base);
    line-height: var(--line-height-tight);
    color: var(--color-text-primary);
    border: none;
    background: transparent;
}

.price-input--field:focus {
    outline: none;
}

.price-input--field::placeholder {
    color: var(--color-gray-400);
}

.currency-select--wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    flex-shrink: 0;
}

.currency-select--wrapper:focus-within {
    position: relative;
}

.currency-select {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    appearance: none;
    border-radius: var(--radius-md);
    padding: var(--font-size-2xs) var(--font-size-3xl) var(--font-size-2xs) var(--font-size-xs);
    font-size: var(--font-size-sm);
    line-height: var(--line-height-normal);
    color: var(--color-text-primary);
    border: none;
    background-color: transparent;
}

.currency-select:focus {
    outline: 2px solid var(--color-primary);
    outline-offset: -2px;
}

.dropdown-icon {
    pointer-events: none;
    grid-column-start: 1;
    grid-row-start: 1;
    margin-right: var(--spacing-2);
    height: var(--spacing-4);
    width: var(--spacing-4);
    align-self: center;
    justify-self: end;
    color: var(--color-gray-400);
}

@media (min-width: 640px) {
    .currency-symbol,
    .price-input,
    .currency-select {
        font-size: 0.875rem;
        line-height: 1.5rem;
    }

    .dropdown-icon {
        height: 1rem;
        width: 1rem;
    }
}